nav {
    text-align: center;
    font-size: 50px;
}
.img1{
    text-align: center;
}
.am1{ text-align: center;
font-size: 30px; }
.foot{
    text-align: center;
}
.aaa{
    text-align: center;
    font-size: 65px;
    color: rebeccapurple;
}